    body{
background-color:white;
    }

    h1{
        color:red;
        border: double;
        text-align: center;
    }

    .time{
        color:green;
     text-align: center;
     border: none;
    }


    button{
color: green;
font-size: 50px;
       }

       .imagem-microfone{width: 1000px
        
        ;}